# The LED pins are using the current controlled outputs
# and are negative logic (write a 0 to turn on).
set_io led_r	41
set_io led_g	39
set_io led_b	40

# FTDI chip, which sort of works
set_io -nowarn serial_txd 14 # FPGA transmit to USB
set_io -nowarn serial_rxd 15 # FPGA receive from USB
set_io -nowarn spi_cs 16 # Drive high to ensure that the SPI flash is disabled
# set_io serial_rts_n 14  # no?
# set_io serial_dtr_n 16  # no?

# Normal GPIO pins, left side (when looking at top side of upduino2
# with usb connector at top)
# settings from sram board for upduino2!
set_io io_data[0] 23
set_io io_data[1] 25
set_io io_data[2] 26
set_io io_data[3] 27
set_io io_data[4] 32
set_io io_data[5] 35
set_io io_data[6] 31
set_io io_data[7] 37
set_io o_n_oe 34
set_io o_n_we 43
set_io o_addr[19] 36
set_io o_addr[18] 42
set_io o_addr[17] 38
set_io o_addr[16] 28

# Normal GPIO pins, right side
set_io o_addr[0]  12
set_io o_addr[1]  21
set_io o_addr[2]  13
set_io o_addr[3]  19
set_io o_addr[4]  18
set_io o_addr[5]  11
set_io o_addr[6]  9
set_io o_addr[7]  6
set_io o_addr[8]  44
set_io o_addr[9]  4
set_io o_addr[10] 3
set_io o_addr[11] 48
set_io o_addr[12] 45
set_io o_addr[13] 47
set_io o_addr[14] 46
set_io o_addr[15] 2
